  <footer class="foot-block">
    <div class="container foot-container">
      <div class="row">
        <div class="col-md-4 col-lg-4 social">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-tripadvisor" aria-hidden="true"></i>
        </div>
        <div class="col-md-4 col-lg-4">
          <p>&copy; 2016 MosGoTours, Inc.</p>
        </div>
        <div class="col-md-4 col-lg-4">
          <a href="#">{{ site.email }}</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter40672079 = new Ya.Metrika({ id:40672079, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/40672079" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->