  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="logo" src="{{ "/images/logo.png" }}">  
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {% assign url = page.url|remove:'' %}
        {% for link in site.navigation %}  
        <ul class="nav navbar-nav navbar-right">
          <li {% if url == link.url %} class="active nav-link" {% endif %}><a href="{{link.url}}">{{link.text}}</a></li>
        </ul>
        {% endfor %}
      </div>
    </div>
  </nav>