<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">
  <title>{{ site.title }}</title>
  <link href="{{ "/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">
  <link href="{{ "/css/ie10-viewport-bug-workaround.css" | relative_url }}" rel="stylesheet">
  <script src="{{ "/js/ie-emulation-modes-warning.js" | relative_url }}"></script>
  <link href="{{ "/css/custom.css" | relative_url }}" rel="stylesheet">
  <script src="https://use.fontawesome.com/7ed8047cc8.js"></script>
</head>

<body>

  {% include header.html %}

	 {{ content }}
   
	{% include footer.html %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
  <script src="{{ "/js/bootstrap.min.js" | relative_url }}"></script>
  <script src="{{ "/js/holder.min.js" | relative_url }}"></script>
  <script src="{{ "/js/ie10-viewport-bug-workaround.js" | relative_url }}"></script>

  <script type="text/javascript">
    function checkScroll() {
      var startY = $('.navbar-default').height() * 1;

      if ($(window).scrollTop() > startY) {
        $('.navbar-default').addClass("scrolled");
        $('.nav-link').addClass("nav-link-replace");
      } else {
        $('.navbar-default').removeClass("scrolled");
        $('.nav-link').removeClass("nav-link-replace");
      }
    }

    $(window).on("scroll load resize", function(){
      checkScroll();
    });
  </script>
</body>
</html>